.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.wrapper {
  width: 80%;
  max-width: 1500px;
}
.hero-bg {
  width: 1320px;
  bottom: 0;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  opacity: 0;
}

.hero-gradient {
  bottom: -60px;
  height: 300px;
  z-index: 99;
}


.cta-white {
  min-height: 300px;
}

.cta-btn {
  width: 200px;
}

.breaker {
  width: 1px;
  height: 100px;
  background: rgba(255, 255, 255, 0.5);
}