

html {
  scroll-behavior: smooth;
}
.App {
  text-align: center;
  scroll-behavior: smooth;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.wrapper {
  width: 80%;
  max-width: 1300px;
}
.hero-bg {
  width: 1320px;
  bottom: 0;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  opacity: 0;
}

.hero-gradient {
  bottom: -60px;
  height: 300px;
  z-index: 30;
}


.cta-white {
  min-height: 300px;
}

.cta-btn {
  width: 200px;
}

.breaker {
  width: 1px;
  height: 100px;
  background: rgba(255, 255, 255, 0.5);
}

.navModal {
  top: -500px;
  opacity: 0;
}

.open {
  top: 100px;
  opacity: 1;
}

.langSelect {
  top: -300px;
  opacity: 0;
}

.drop {
  top: 100px;
  opacity: 1;
}

@keyframes scrollwheels {
  from {bottom: -10px; opacity: 1;}
  to {bottom: -35px; opacity: 0;}
  
}

.scroll {
  width: 40px;
  height: 60px;
}

.scroll-wheel {
  width: 12px;
  height: 12px;
  display: block !important;
  animation: scrollwheels 1s infinite;

}

.scroll-text {
  bottom: 50px;
}

.laptop {
  width: 900px;
}
.laptop-video {
  position: absolute;
  z-index: 50;
  /* top: 20px;
  width: 440px;
  left: 118px; */
  width: 65%;
  left: 17.5%;
  top: 5%;
}

.icon {
  width: 50px !important;
  height: 50px;
}

/* .gotv-head {
  background: url(../public/ASSETS/gotv/bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
} */

#gogames-items li{
  width: 30%;
}

.charity-tcolor {
  color: #BB184D;
}

.country-pin {
  width: 3%;
}

.china {
  right: 21%;
  bottom: 50%;
}

.korea {
  right: 17.3%;
  bottom: 45%;

}

.thailand {
  right: 26%;
  bottom: 45.5%;

}

.japan {
  right: 14.3%;
  bottom: 44%;
}

.oman {

  right: 36%;
  bottom: 60%;
}

.uae {

  right: 36.8%;
  bottom: 54%;
}

.nigeria {
  right: 49%;
  bottom: 57.6%;
}

.turkey {
  right: 42.3%;
  bottom: 60%;
}

.argentina {
  left: 31%;
  bottom: 50%;
}

.colombia {
  left: 27%;
}

.mexico {
  left: 19%;
}
.panama {
  left: 25.7%;
}

.country-block {
  top: -105px;
  left: -25px;
  width: 100px;
  height: 100px;
  opacity: 0;
}

.thailand:hover div {
  top: -110px;
  opacity: 1;
}

.thailand:hover img {
  transform: scale(1.1);
}

.gotv-video {
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  top:5px;
  width: 900px;
  /* height: 690px; */
}

.gotv-screen {
  width: 800px;

}

.comp-card{
  background: #ededed;
}
.comp-circ {
  width: 70px;
  height: 70px;
  
}

.inner-circ{
  transform: scale(1.5);
  width: 200px;
  height: 200px;
  margin: 0 auto;
  left: -100%;
  top: -100%;
  /* transform: translateX(-50%);
  transform: translateY(-50%); */
  opacity: .2;
}


.grid-container {
  background: #fff;
  font-family: 'Rubik', sans-serif;
}

@supports(display: grid) {

  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr auto;
    
    grid-template-areas:
      "header header header"
      "title title footer"
      "main main main";
    @media screen and (max-width: 500px) {
      grid-template-columns: 1fr;
      grid-template-rows: 0.3fr 1fr auto 1fr;
      grid-template-areas: 
        "header"
        "title"
        "main"
        "footer";
    }
  }

  .grid-item {
    color: #fff;
    padding: 3.5em 1em;
    font-size: 1em;
    font-weight: 700;
  }
  
  .main {
    color: green;
    grid-area: main;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  
  .footer {
    grid-area: footer;
    padding: 0.6em;
  }

  .items {
    position: relative;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
    transition: all 1s;
    transform: scale(0.98);
    will-change: transform;
    user-select: none;
    cursor: pointer;
  }

  .items.active {
    /* background: rgba(255,255,255,0.3); */
    cursor: grabbing;
    cursor: -webkit-grabbing;
    transform: scale(1);
  }

  .item {
    display: inline-block;
    background: red;
    min-height: 250px;
    max-width: 300px;
    margin: 2em 1em;
    @media screen and (max-width: 500px) {
      min-height: 200px;
      min-width: 200px;
    }
  }
}

#gotv-items li{
  max-width: 45%;
}

.glide .glide__slide{
  flex-shrink: 1 !important;
  /* width: auto !important;
  object-fit: contain; */
}

.glide .glide__slide img {
  margin: 0;
  object-fit: contain;
}

.gotv-gradient {
  height: 800px;
  width: 200px;
}

.phone-1 {
  left: 50%;
  transform:translateX();
  height: 500px;
  transform: translate(0%,-20%);
}

.phone-2 {
  left: 50%;
  height: 500px;
  transform:translate(-70%,10%);
}

.coin-1 {
  left: 50%;
  transform: translate(-90%, 0%);
  scale: .5;
}
.coin-2 {
  top: -500px;
  right: -600px;
  scale: .4;
}

.coin-3 {
  right: -200px;
  scale: .3;
  bottom: -100px;
}

.coin-4 {
  scale: .4;
  left: -300px;
  top: -400px;
}

.coin-5 {
  scale: .5;
  left: 50%;
  transform: translate(-360%, 80%);
}

.coin-6 {
  scale: .4;
  left: 50%;
  transform: translate(-120%, -350%);

}

.gowin-highlight {
  color: #f7e99a;
}

.gowin-dev img {
  width: 0px;
}


.logo-box {
  width: 150px;
  height: 150px;
}

.logo-box img {
  width: 80px;
  margin: 0 auto;
}
.gowin-gradient{
  height: 300px;
}

/* -- DOWNLOADS SECTION -- */

#downloads-section {
  min-height: 1080px;
}

.downloads-card {
  /* width: 500px; */
  background: #ededed;
  max-width: 300px;
  position: relative;

}

.downloads-card select{
  width: 100%;
}

#gotv-hero {
  min-height: 100vh;
}

.bg-404 {
  background-image: url('../public/ASSETS/404/404-bg.jpg');
}

.blog-card {
  max-width: 1200px !important;
  width: 80%;

}

.blog-body p{
  padding-top: 1em;
}

.blog-md p,h1,h2,h3,h4,ul,ol {
  margin-top: 1em;
}

.article-card .image-container {

}

.blog-body p{
  font-size: 1.3em;
}

.blog-body ol, ul {
  padding-left: 2em;
}

.blog-body ul {
  list-style-type: decimal;
}

.blog-body h2 {
  font-size: 2em;
}
.blog-body h3 {
  font-size: 1.5em;
}
.blog-body h4 {
  font-size: 1.2em;
}

.h2.h3 {
  display: block;
}

.card-md {
  /* max-width: 350px; */
  max-width: 32%;
}

@media only screen and (max-width: 1250px) {
  .card-md {
    /* max-width: 350px; */
    max-width: 48%;
  }
}
@media only screen and (max-width: 900px) {

  .card-md {
    /* max-width: 350px; */
    max-width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  
  .blog-body p{
    font-size: 1em;
  }

}


.blogs-page-description {
  max-width: 800px;
  color:#767676;
}